<div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to Get Started</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
          tenetur at dolorum deserunt labore accusamus modi debitis
          perspiciatis eius consequuntur, soluta impedit autem, adipisci
          animi, quam eos fugiat quasi nam?
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
  </div>