<div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#snap"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Start & Manage Updates</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id unde
        repudiandae eos ipsum quasi veritatis necessitatibus sed esse optio
        autem quidem deserunt rerum provident quia iure, eum voluptas
        voluptates aliquam.
      </p>
    </div>
  </div>